
#graham-head{
	float: left;
	margin: 0;
	padding: 0;
	width: 1200px;
	height: 115px;
	background: url(resources/images/header-bg.jpg) no-repeat top left;
	}
#graham-logo{
	padding: 0;
	margin: 0;
	width: 216px;
	height: 25px;
	display: block;
	background: url(resources/images/graham-logo-header.png) no-repeat top left;
	}
